body {
  font-family: "Roboto Mono", monospace;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background: #ffaa17;
}
body::-webkit-scrollbar-thumb:hover {
  background: #c98b20;
}

.heading-row {
  text-align: center;
  margin-bottom: 30px;
}
.heading-row h1 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
.heading-row p {
  letter-spacing: -1px;
  margin: 0;
  color: #747474;
}

a.common-btn {
  padding: 20px 40px;
  background-color: #ffaa17;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-right: 20px;
  text-decoration: none;
}
a.common-btn:hover {
  color: white;
  background-color: #1d2122;
}

body.active {
  overflow: hidden;
}

#breadcrumb {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#breadcrumb h1, #breadcrumb p {
  color: white;
}
#breadcrumb h1 {
  font-weight: bold;
}
#breadcrumb p {
  margin: 0;
  max-width: 70%;
}
#breadcrumb .item {
  transform: translateY(42px);
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#goToUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #ffaa17;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
#goToUp img {
  width: 20px;
}

#goToUp.active {
  opacity: 1;
  visibility: visible;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: calc(100% - 70px);
  margin: 0 auto;
  z-index: 999;
  right: 0;
}
header .searchLabel {
  width: 300px;
  position: absolute;
  bottom: -75px;
  right: 0;
  transition: all 0.7s ease;
  opacity: 0;
  visibility: hidden;
}
header .searchLabel button {
  padding: 10px 13px;
  background: #ffaa17;
  border: none;
  color: black;
}
header .searchLabel button span.searchIcon {
  font-size: 25px;
}
header .searchLabel input {
  border: none;
  outline: none;
  background: #f0f4f7;
  padding: 8px;
  width: calc(100% - 51px);
  font-size: 12px;
}
header .searchLabel.active {
  opacity: 1;
  bottom: -70px;
  visibility: visible;
}

header#large-screens .menu-wrapper {
  background-color: white;
  box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.1215686275);
  padding: 14px 0;
}
header#large-screens .menu-wrapper nav ul {
  list-style: none;
}
header#large-screens .menu-wrapper .search {
  position: relative;
}
header#large-screens .menu-wrapper .search a {
  display: inline-block;
}
header#large-screens .menu-wrapper .search span.searchIcon {
  font-size: 30px;
}
header#large-screens .contact {
  background-color: #ffaa17;
  padding: 18px 20px;
  box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.1215686275);
}
header#large-screens .contact a.number {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header#small-screens {
  background-color: white;
  box-shadow: 0px 8px 10px 3px rgba(0, 0, 0, 0.1215686275);
}
header#small-screens a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 13px;
}
header#small-screens a span {
  font-size: 35px;
}
header#small-screens .searchLabel {
  bottom: -85px;
  right: -8px;
}
header#small-screens .searchLabel.active {
  bottom: -67px;
}
header#small-screens nav {
  position: absolute;
  background-color: #1d2122;
  top: 0;
  right: -351px;
  width: 280px;
  height: 100vh;
  padding-top: 20px;
  transition: all 0.3s ease;
}
header#small-screens nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header#small-screens nav ul li a {
  text-transform: uppercase;
  color: white;
  display: block;
  border-left: 3px solid transparent;
}
header#small-screens nav ul li a.active {
  background-color: #181a1b;
  border-left: 3px solid #ffaa17;
}
header#small-screens nav .logo, header#small-screens nav ul li a {
  padding: 16px 30px;
}
header#small-screens nav .logo a {
  padding: 0;
  height: 35px;
  transform: translateX(10px);
}
header#small-screens nav .logo a span {
  color: white;
}
header#small-screens nav.active {
  right: -41px;
}

header#large-screens .menu-wrapper a, footer .menu a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}
header#large-screens .menu-wrapper a:hover, footer .menu a:hover {
  color: #ffaa17;
}
header#large-screens .menu-wrapper a.active, footer .menu a.active {
  color: #ffaa17;
}

#slider {
  position: relative;
}
#slider .item {
  height: 800px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slider .item::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 1;
}
#slider .item .content {
  transform: translateY(44px);
  z-index: 2;
  position: relative;
}
#slider .item .content ul {
  list-style: none;
  color: #ffaa17;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
#slider .item .content ul li {
  margin: 0 20px;
  line-height: 1;
}
#slider .item .content ul li:nth-child(2) {
  position: relative;
}
#slider .item .content ul li:nth-child(2)::before, #slider .item .content ul li:nth-child(2)::after {
  position: absolute;
  top: -2px;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ffaa17;
}
#slider .item .content ul li:nth-child(2)::before {
  left: -20px;
}
#slider .item .content ul li:nth-child(2)::after {
  right: -20px;
}
#slider .item .content h1 {
  font-size: 70px;
  color: white;
  letter-spacing: 16px;
  font-weight: bold;
  margin: 20px 0;
}
#slider .item .content .btns a {
  text-decoration: none;
  display: inline-block;
}
#slider .item .content .btns a.play {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: pulse-animation 2s infinite;
}
#slider .item .content .btns a.play span {
  font-size: 50px;
}
#slider .owl-carousel .owl-nav button.owl-next, #slider .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 19px));
  z-index: 3;
  margin: 0;
  width: 80px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border-radius: 0;
  transition: all 0.3s ease;
  color: white;
}
#slider .owl-carousel .owl-nav button.owl-next:hover, #slider .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #ffaa17;
  color: black;
}
#slider .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#slider .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.086);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(246, 0, 0, 0);
  }
}
#services {
  padding: 60px 0;
}
#services .item {
  background: white;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
#services .item .icon img {
  width: 52px;
}
#services .item .heading h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 16px 0;
}
#services .item .content p {
  margin: 0;
  color: #3e4d68;
  font-size: 15px;
}
#services .item:hover {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

#ideas {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(14, 92, 166, 0.2392156863);
  background-blend-mode: color;
  background-attachment: fixed;
  margin-bottom: 110px;
}
#ideas .item {
  background: #fff;
  padding: 70px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  transform: translateY(100px);
}
#ideas .item .heading-row h1 {
  font-size: 30px;
}
#ideas .item .progress-bar-text {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
}
#ideas .item .progress-bar {
  background: #e8e8e9 none repeat scroll 0 0;
  box-shadow: 0 0 0;
  height: 10px;
  margin: 0 0 20px;
  border-radius: 30px;
  position: relative;
  width: 100%;
}
#ideas .item .progress-bar > span {
  background: #ffaa17 none repeat scroll 0 0;
  display: block;
  height: 100%;
  width: 0;
  border-radius: 30px;
}

#projects {
  padding: 60px 0;
}
#projects .menu ul {
  list-style: none;
}
#projects .menu ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0 16px;
  position: relative;
  transition: all 0.3s ease;
}
#projects .menu ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #eee;
}
#projects .menu ul li a:hover {
  color: #ffaa17;
}
#projects .menu ul li a.active {
  color: #ffaa17;
}
#projects .menu ul li:last-child a::before {
  background-color: transparent;
}
#projects .gallery a img {
  border-radius: 8px;
}

.sl-overlay {
  background-color: black !important;
}

.sl-wrapper .sl-close, .sl-wrapper .sl-navigation button {
  color: white !important;
}

#action .item {
  background: linear-gradient(225deg, #fe7649 0%, #ff2938 100%);
  padding: 40px;
  border-radius: 16px;
}
#action .item h1, #action .item p {
  color: white;
  margin: 0;
}
#action .item h1 {
  font-weight: bold;
  font-size: 30px;
}
#action .item p {
  margin: 20px 0;
}
#action .item .common-btn {
  border-radius: 6px;
  display: inline-block;
  margin: 0;
}

#partners {
  padding: 60px 0;
  position: relative;
}
#partners .item {
  padding: 30px;
  height: 110px;
  border: 1px solid #e9ecef;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}
#partners .item img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#partners .owl-carousel .owl-nav button.owl-next, #partners .owl-carousel .owl-nav button.owl-prev {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#partners .owl-carousel .owl-nav button.owl-next:hover, #partners .owl-carousel .owl-nav button.owl-prev:hover {
  color: black;
}
#partners .owl-carousel .owl-nav button.owl-next {
  right: -20px;
}
#partners .owl-carousel .owl-nav button.owl-prev {
  left: -20px;
}
#partners .owl-theme .owl-nav {
  margin: 0;
}

#servicesMainPage {
  padding: 60px 0;
  background: #f6f7ff;
  margin-bottom: 30px;
}
#servicesMainPage ul {
  list-style: none;
}
#servicesMainPage ul li a {
  color: black;
  text-decoration: none;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}
#servicesMainPage .left ul li a {
  display: block;
  font-size: 18px;
  padding: 15px 20px;
  color: #3e4d68;
  margin: 16px 0;
  transition: all 0.3s ease;
}
#servicesMainPage .left ul li a:hover {
  background: #ffaa17;
  color: white;
}
#servicesMainPage .left ul li a.active {
  background: #ffaa17;
  color: white;
}
#servicesMainPage .right .item {
  padding: 30px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding-bottom: 20px;
}
#servicesMainPage .right .item.active {
  visibility: visible;
  opacity: 1;
}
#servicesMainPage .right h1 {
  margin: 0;
}
#servicesMainPage .right p {
  margin: 16px 0;
}
#servicesMainPage .right ul li a {
  display: block;
  padding: 10px 20px;
  margin-right: 17px;
  margin-bottom: 7px;
  position: relative;
  font-size: 14px;
}
#servicesMainPage .right ul li a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid black;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}
#servicesMainPage .right img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 16px;
}

#error {
  padding: 60px 0;
}
#error h1 {
  font-weight: bold;
}

footer .menu ul {
  list-style: none;
}
footer .top {
  padding-bottom: 60px;
}
footer p {
  color: #3e4d68;
  margin: 0;
}
footer .social-icons ul {
  list-style: none;
}
footer .social-icons ul li a {
  display: block;
  padding: 10px;
}
footer .social-icons ul li a img {
  width: 20px;
}
footer .line {
  position: absolute;
  height: 1px;
  background-color: #dee2e6;
  left: 0;
  width: 100%;
  bottom: -30px;
}

@media (min-width: 992px) {
  .left-col {
    width: calc(100% - 231px) !important;
  }
  .right-col {
    width: 231px;
  }
}
@media (max-width: 1200px) {
  header#large-screens .menu-wrapper a {
    font-size: 14px;
    padding: 10px 11px;
  }
}
@media (max-width: 991.98px) {
  #slider .item .content h1 {
    font-size: 40px;
    letter-spacing: normal;
  }
  #slider .item {
    height: 600px;
  }
  #servicesMainPage .left ul li a {
    font-size: 16px;
  }
  #servicesMainPage .right ul li a {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  #projects .menu ul li a {
    font-size: 13px;
  }
}
@media (max-width: 575.98px) {
  #slider .item .content h1 {
    font-size: 16px;
  }
  #slider .item .content ul {
    font-size: 11px;
  }
  #slider .owl-nav {
    display: none;
  }
  #slider .item .content .btns a.services {
    padding: 10px 20px;
    font-size: 11px;
  }
  #slider .item .content .btns a.play {
    height: 36px;
    width: 36px;
  }
  #slider .item .content ul li:nth-child(2)::before, #slider .item .content ul li:nth-child(2)::after {
    top: 0;
  }
  #slider .item .content .btns a.play span {
    font-size: 30px;
  }
  #slider .item {
    height: 400px;
  }
  header {
    max-width: calc(100% - 22px);
    padding: 10px 0 !important;
  }
  header#small-screens a {
    padding: 5px 8px;
    height: 25px;
  }
  header#small-screens a span {
    font-size: 25px;
  }
  header .searchLabel {
    width: 258px;
  }
  .heading-row p {
    font-size: 14px;
  }
  #ideas .item {
    padding: 30px;
  }
  #ideas .item .heading-row h1 {
    font-size: 20px;
  }
  #action .item {
    padding: 30px;
  }
  #action .item h1 {
    font-size: 20px;
  }
  #action .item p {
    font-size: 12px;
  }
  #action .item .common-btn {
    font-size: 14px;
  }
  #servicesMainPage .right h1 {
    font-size: 20px;
  }
  #servicesMainPage .right p {
    font-size: 14px;
  }
  #servicesMainPage .right ul li a {
    font-size: 12px;
  }
  #breadcrumb p {
    max-width: 100%;
    font-size: 14px;
  }
}