$mainOrange: #ffaa17;

body {
    font-family: 'Roboto Mono', monospace;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $mainOrange;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #c98b20;
    }
}

.heading-row {
    text-align: center;
    margin-bottom: 30px;
    h1 {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 45px;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }

    p {
        letter-spacing: -1px;
        margin: 0;
        color: #747474;
    }
}
.common-btn{
    padding: 20px 40px;
    background-color: $mainOrange;
    color: black;
    font-weight: bold;
    transition: all .3s ease;
    margin-right: 20px;
    text-decoration: none;
    &:hover{
        color: white;
        background-color: #1d2122;
    }
}

body.active{
    overflow: hidden
}

#breadcrumb{
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h1, p{
        color: white
    }
    h1{
        font-weight: bold;
    }
    p{
        margin: 0;
        max-width: 70%
    }
    .item{
        transform: translateY(42px);
    }
}

.preloader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
}

#goToUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid $mainOrange;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    img{
        width: 20px;
    }
}

#goToUp.active{
    opacity: 1;
    visibility: visible
}

@import "header";
@import "slider";
@import "services";
@import "ideas";
@import "projects";
@import "action";
@import "partners";
@import "servicesMainPage";
@import "error";
@import "contact";
@import "footer";
@import "breakpoints"